.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.brand{:href => "", :title => ""}
      = image_tag "logo.png"
      -#%img{:src => "img/logo.png"}/
    .nav-collapse.collapse
      %ul.nav
    / /.nav-collapse
