<div class="container">
        <div class="row-fluid">
            <div class="span6" style="border: 20px solid #898989; margin-top:30px;">

				<div style="padding-top: 5px;">
				 <div align="center">
				 <h2>Sign up</h2>

					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					  <%= devise_error_messages! %>

					  <div><%= f.label :email %>
					  <%= f.email_field :email, :autofocus => true %></div>

					  <div><%= f.label :password %>
					  <%= f.password_field :password %></div>

					  <div><%= f.label :password_confirmation %>
					  <%= f.password_field :password_confirmation %></div>

					  <div><%= f.submit "Sign up" %></div><br>
					   <div><%= link_to image_tag("facebook-login-button.png"),'/auth/facebook/' %></div>
					<% end %>

				    <%= render "devise/shared/links" %>
				</div>
				</div>
</div>
</div>
</div>
