<% @data[:events].each do |event| %>
  <div class="event">
      <div class="event_head">
        <% if event.from_meetup? %>
              <a href="<%= event.image_link%>"><img src="/assets/meet.png"/></a>
          <% elsif event.from_facebook? %>
              <a href="<%= event.image_link%>"><img src="/assets/f.png"/></a>
          <% elsif event.from_eventbrite?%>
              <a href="<%= event.image_link%>"><img src="/assets/e.png"/></a>
          <% end %>                              
          <p><img src="/assets/location_icon.png"/>
            <% if event.city.blank? and event.country.blank? %>
              <%= event.address %>
            <% else %>
              <%= event.city %>, <%= event.country%>
            <% end %>                                
          </p>
          <p><img src="/assets/calender_icon.png"/><%= event.date%></p>
      </div>
      <div class="event_body">
          <a href="<%=event_path(event)%>"><h3><%= event.event_name%></h3></a>
          <p><%=strip_tags(event.event_short_description)%></p>
      </div>
  </div>
<% end %>