    <div class="banner_con">
        <h2>If it's out there you'll find it here</h2>
        <p>A New way to discover everything interesting around you</p>        
    </div>

    <div class="container">

        <div class="row-fluid">
            <div class="span3">
                <%= form_for @search do |f|%>
                <div class="sort_event">                  
                    <h2>Sort events</h2>
                    <h4>Going</h4>
                     <input type="text" id="start_date" placeholder="From" name="start_date" autocomplete="off">
                     <input type="text" id="end_date" placeholder="To" name="end_date" autocomplete="off"> 
                    <h4>Where are you looking?</h4>
                    <input type="text" id="searchTextField" required="true" placeholder="Enter city name.." name="location" autocomplete="off">   
                    <div id="map-canvas"></div>
                    <select>
                        <option>up to 10 km</option>
                        <option>up to 20 km</option>
                        <option>up to 30 km</option>
                        <option>up to 40 km</option>
                    </select>

                    <h4>Source</h4>
                    <!-- <label><input type="checkbox">Eventbrite</label>
                    <label><input type="checkbox">Meetup</label>
                    <label><input type="checkbox">Facebook</label> -->
                     <%= select "select", "site", ["All","Facebook","Meetup","Eventbrite"], {:selected => "All"}, {:id => 'select_site', :name => "select_site"} %>
                     <%= f.hidden_field :ip_address, value: request.remote_ip %>

                    <h4>Interest</h4>
                    <!-- <label><input type="checkbox">Tech</label>
                    <label><input type="checkbox">Sport</label>
                    <label><input type="checkbox">Music</label>
                    <label><input type="checkbox">Show</label>
                    <label><input type="checkbox">Lacture</label>
                    <label><input type="checkbox">Gathering</label> -->
                    <input type="text" id="search_query" placeholder="lecture, meetups.." name="search_string" autocomplete="off">
                    <%= f.button 'Search', class: 'btn', type: 'button', id: 'search_button'%>
                </div>
                <% end %>
            </div>
            <div class="span6">
                <div class="" id="eventUl">
                    <% @data[:events].each do |event| %>
                      <div class="event">
                          <div class="event_head">
                            <% if event.from_meetup? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/meet.png"/></a>
                              <% elsif event.from_facebook? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/f.png"/></a>
                              <% elsif event.from_eventbrite?%>
                                  <a href="<%= event.image_link%>"><img src="/assets/e.png"/></a>
                              <% end %>                              
                              <p><img src="/assets/location_icon.png"/>
                                <% if event.city.blank? and event.country.blank? %>
                                  <%= event.address %>
                                <% else %>
                                  <%= event.city %>, <%= event.country%>
                                <% end %>                                
                              </p>
                              <p><img src="/assets/calender_icon.png"/><%= event.date%></p>
                          </div>
                          <div class="event_body">
                              <a href="<%=event_path(event)%>"><h3><%= event.event_name%></h3></a>
                              <p><%=strip_tags(event.event_short_description)%></p>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
            <div class="span3 suggested_evnt">
                <h2>Suggested events</h2>
                <div>
                    <h3>Wix TLV Hackathon</h3>
                    <a href="#"><img src="/assets/event-round.jpg"/></a>
                    <p><img src="/assets/location_icon.png"/>wix HQ, HaNamal 40</p>
                    <p><img src="/assets/calender_icon.png"/>october 3th, 2012  6:30pm</p>
                </div>
            </div>
        </div>
    </div>

<div style="display:none;" id="wait_dialog" class="modal fade in" aria-hidden="false">
  <div class="modal-header">
    <h5 style="text-align:center !important">
      We do our best to find you event, please wait.
      <br>
    </h5>
  </div>
  <div class="modal-body">
  <table>
    <tbody>
      <tr valign="top">
        <td style="text-align:center !important">
          <p>
            <img src="/assets/progress.gif" alt="Progress">
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>     

<p><%= @city%></p>

<script type="text/javascript">
    var $ = $.noConflict(true);
    $("#start_date, #end_date").datepicker({
    "dateFormat":"dd-mm-yy"
    })
</script>  

<script type="text/javascript">
  $("#search_button").click(function(){
     $("#new_search").submit();
     $('html, body').animate({scrollTop:0}, '1000', 'swing', function() { 
         $("#wait_dialog").show();
         $('.banner_con').css({'opacity':'.5'});
         $('.container').css({'opacity':'.5'});     
      });
  });
</script> 

<script type="text/javascript">
  var page = 2;
  $(window).scroll(function () {
       if ($(window).scrollTop() == $(document).height() - $(window).height()) {
           getEvents();
           page = page+1;
       }
   });
</script>

<script type="text/javascript">
  function getEvents() {
       $.ajax(
        {
            type: "GET",
            url: "/",
            data: "page="+page,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: "false",

            success: function (data) {
              $('#eventUl').append(data.html);
            },

            Error: function (x, e) {
                alert("Some error");
            }
        });
   }
</script>

<style type="text/css">
  .ui-datepicker-calendar {width:99% !important;}
  .pac-container:after{background-image:none !important;} 
</style>  

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-33.8688, 151.2195),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  
    var input = (document.getElementById('searchTextField'));
    var autocomplete = new google.maps.places.Autocomplete(input);
  
    autocomplete.bindTo('bounds', map);
  
    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      map: map
    });
  
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      infowindow.close();
      marker.setVisible(false);
      input.className = '';
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        // Inform the user that the place was not found and return.
        input.className = 'notfound';
        return;
      }
  
      // If the place has a geometry, then present it on a map.
      if (place.geometry.viewport) {
        map.fitBounds(place.geometry.viewport);
      } else {
        map.setCenter(place.geometry.location);
        map.setZoom(17);  // Why 17? Because it looks good.
      }
      marker.setIcon(({
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(35, 35)
      }));
      marker.setPosition(place.geometry.location);
      marker.setVisible(true);
  
      var address = '';
      if (place.address_components) {
        address = [
          (place.address_components[0] && place.address_components[0].short_name || ''),
          (place.address_components[1] && place.address_components[1].short_name || ''),
          (place.address_components[2] && place.address_components[2].short_name || '')
        ].join(' ');
      }
  
      infowindow.setContent('' + place.name + '' + address);
      infowindow.open(map, marker);
    });
  
    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    function setupClickListener(id, types) {
      var radioButton = document.getElementById(id);
      google.maps.event.addDomListener(radioButton, 'click', function() {
        autocomplete.setTypes(types);
      });
    }
  
    setupClickListener('changetype-all', []);
    setupClickListener('changetype-establishment', ['establishment']);
    setupClickListener('changetype-geocode', ['geocode']);
  }
  
  google.maps.event.addDomListener(window, 'load', initialize); 

</script>



<!-- .hero.hidden-phone
  .container
    .row
      .span12
        = image_tag "hero.png", :alt=>"1-1"
        .calltoaction
          %h2.heading If it's out there we'll find it
          .description
            The way to discover and book interesting real events
.container
  .row-fluid
    = form_for @search, html: {class: 'form-inline search_bar', style: 'text-align:center'} do |f|
      Going
      %input.input-small#start_date{:placeholder => "From", :type => "text", name: "start_date"}
      %input.input-small#end_date{:placeholder => "To", :type => "text", name: "end_date"}
      In:
      %input#searchTextField{:placeholder => "Enter city name...","autocomplete"=>"off", :type => "text", name: "location", required: true}
      Interested in:
      %input#search_query{:placeholder => "lecture, meetups...", :type => "text", name: "search_string"}
      = f.hidden_field :ip_address, value: request.remote_ip
      = select "select", "site", ["All","Facebook","Meetup","Eventbrite"], {:selected => "All"}, {:id => 'select_site', :name => "select_site"}
      = f.button 'Search', class: 'btn', type: 'button', id: 'search_button'
      %span.pull-right
        / %button.btn.btn-success{:type => "button"}
        /   %i.icon-map-marker
        /   Search by your place now
  .row-fluid.results
    .container-fluid
      %ul.thumbnails.span12.offset1#eventUl
        - @data[:events].each do |event|
          %li.span3.pull-left{style: "box-shadow: 0 0 10px blanchedalmond, 0 0 2px blueviolet;height: 400px;margin-left: 0;margin-right: 50px;padding: 10px;"}
            %a.thumbnail{:href => event_path(event)}
              .tag
                - if event.from_meetup?
                  = image_tag "meetuptag.png"
                - if event.from_facebook?
                  = image_tag "facebooktag.png"
                - if event.from_eventbrite?
                  = image_tag "eventbritetag.png", :width=>"315", :heigh=>"115"

              = image_tag event.image_link, :class=>"img"
            %h5=event.event_name
            %p.event_text{style: "font-size:11px;"}
              =strip_tags(event.event_short_description)
              = link_to "Read more", event_path(event), class: 'btn-info'
            %p{style: "font-size:12px;"}
              %i.icon-calendar
              =event.date
            %p{style: "padding-left:1px;font-size:11px;"}
              %i.icon-map-marker{style:"font-size:12px"}
              - unless event.address.blank?
                =event.address
              - unless event.city.blank?
                =event.city
              - unless event.country.blank?
                =event.country
            %div#map-canvas

#wait_dialog.modal.fade.in{"aria-hidden" => "false", "style" => "display:none;"}
  .modal-header
    %h5{:style => "text-align:center !important"}
      We do our best to find you event, please wait.
      %br
  .modal-body
    %table
      %tbody
        %tr{:valign => "top"}
          %td{:style => "text-align:center !important"}
            %p
              %img{:alt => "Progress", :src => "/assets/progress.gif"}
            

:javascript
  var $ = $.noConflict(true);
  $("#start_date, #end_date").datepicker({
  "dateFormat":"dd-mm-yy"
  })

:javascript
  $("#search_button").click(function(){
     $("#wait_dialog").show();
     $("#new_search").submit();
  });

:javascript
  var page = 2;
  $(window).scroll(function () {
       if ($(window).scrollTop() == $(document).height() - $(window).height()) {
           getEvents();
           page = page+1;
       }
   });

:css
  .ui-datepicker-calendar {width:99% !important;}
  #ui-datepicker-div {width:14% !important;}

  function getEvents() {
       $.ajax(
        {
            type: "GET",
            url: "/",
            data: "page="+page,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: "false",

            success: function (data) {
              $('#eventUl').append(data.html);
            },

            Error: function (x, e) {
                alert("Some error");
            }
        });
   }  

:css  
  .pac-container:after{background-image:none !important;} 

  -->
