= render :partial => "layouts/header"

.hero.hidden-phone
  .container
    .row
      .span12
        = image_tag "hero.png", :alt=>"1-1"
        -#%img{:alt => "1-1", :src => "img/hero.png"}/
        .calltoaction
          %h2.heading If it's out there we'll find it
          .description
            The way to discover and book interesting real events
.container
  .row-fluid
    %form.form-inline.search_bar
      Going
      %input.input-small{:placeholder => "From", :type => "text"}/
      %input.input-small{:placeholder => "To", :type => "text"}/
      In:
      %input{:placeholder => "Enter city name...", :type => "text"}/
      Interested in:
      %input{:placeholder => "lecture, meetups...", :type => "text"}/
      %button.btn{:type => "submit"} Search
      %span.pull-right
        %button.btn.btn-success{:type => "button"}
          %i.icon-map-marker
          Search by your place now
  .row-fluid.results
    .container-fluid
      %ul.thumbnails.span12.offset1
        - @data[:events].each do |event|
          %li.span3.pull-left{style: "box-shadow: 0 0 10px blanchedalmond, 0 0 2px blueviolet;height: 400px;margin-left: 0;margin-right: 50px;padding: 10px;"}
            %a.thumbnail{:href => "eventpage.html"}
              .tag
                - if event.from_meetup?
                  = image_tag "meetuptag.png"
                - if event.from_facebook?
                  = image_tag "facebooktag.png"
                - if event.from_eventbrite?
                  = image_tag "eventbritetag.png"

              = image_tag "1.jpeg"
            %h4=event.event_name
            %p.event_text
              =strip_tags(event.event_short_description)
              = link_to "Read more", event_path(event), class: 'btn-info'
            %p
              %i.icon-calendar
              =event.date
            %p{style: "padding-left:1px;"}
              %i.icon-map-marker{style:"font-size:16px"}
              location