  <div id="fb-root"></div>
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=502839126478852";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
        <div class="clear"></div>
        <div class="row-fluid product-profile">
            <div class="span9 fixed product_view">
                <div class="product block">

                    <div class="product-left">
                        <img class="thumb" width="190" src="<%= @event.image_link%>"/>
                        <div class="actions">
                            <!-- <a href="#" class="btn-like modal_link" data-target="#modal"><i class="icon-heart icon-white"></i> LIKE</a> -->
                            <!-- <a href="#" class="btn-share"><i class="icon-share-alt icon-white"></i> SHARE</a> -->
                            <table>
                              <tr>
                                <td>
                                  <div style="width:50px;" class="fb-like" data-href="http://eventsround.herokuapp.com/events/<%=@event.id%>" data-width="50" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                </td>
                                <td>
                                  <div style="width:50px;" class="fb-share-button" data-href="http://eventsround.herokuapp.com/events/<%=@event.id%>" data-width="50" data-type="button"></div>
                                </td>
                              </tr>
                            </table>                            
                        </div>

                        <% unless @event.starting_at.blank? %>
                          <div class="bullets">
                              <h3 class="first">Starting Date:</h3>
                              <div class="clear"></div>
                              <ul>
                                  <li><%= @event.starting_at.strftime('Starting on: %d-%h-%y')%>, <%= @event.starting_at.strftime("at %I:%M%p")   %></li>                                
                              </ul>
                          </div>
                        <% end %>

                        <% if !@event.address.blank? or !@event.city.blank? or !@event.country.blank?%>
                          <div class="bullets">
                              <h3 class="first">Event Address:</h3>
                              <div class="clear"></div>
                              <ul>
                                  <li><%= @event.address%> <br> <%= @event.city%>, <%= @event.country%></a></li>                  
                              </ul>
                          </div>
                        <% end %>

<!-- 
                        <div class="bullets">
                            <h3 class="first">What You Will Learn</h3>
                            <div class="clear"></div>
                            <ul>
                                <li>Create an amazing look for the races (or any event) that will have your friends giving you endless compliments.</li>
                                <li>Change your day look into a dazzling and glamorous evening look simply and easily with a few simple tips and tricks.</li>
                                <li>How to easily create fabulous hair - Hollywood Curls and a Glamorous Up-do.</li>
                            </ul>
                        </div>
                        <div class="bullets">
                            <h3 class="first">What You Get</h3>
                            <hr class="clearfix">
                            <ul>
                                <li>You'll leave this 1 day workshop with the confidence to create and transform your looks throughout the day to suit the occasion - and look super glam!</li>
                            </ul>
                        </div>
                        <div class="bullets">
                            <h3 class="first">What to Bring</h3>
                            <hr class="clearfix">
                            <ul>
                                <li>All you need (including a fantastic range of beneficial mineral makeup will be available for you to use.</li>
                            </ul>
                        </div>
                        <div class="bullets">
                            <h3 class="first">What to Wear</h3>
                            <hr class="clearfix">
                            <ul>
                                <li>Wear comfortable clothing, but make it special up top - so you can take some glamorous photos of your final look!</li>
                            </ul>
                        </div> -->
                    </div>

                    <div class="product-right">
                        <div class="title hidden-phone">
                            <h1><%= @event.event_name%></h1>
                            <!-- <div class="small">Organised by <a href="#">Academy Studio</a></div> -->
                        </div>
                        <div class="about">About This Event</div>
                        <div class="clear"></div>
                        <div class="description">
                            <p>
                              <% unless @event.long_description.blank? %>
                                <%= @event.long_description.html_safe%>
                              <% end %>
                            </p>
                            <p><div style="height:300px; width:545px;" id="map_canvas"></div></p>
                        </div>

                    </div>
                    <hr class="clearfix">
                    <div class="clear"></div>
                </div>

                <div class="comments block">
                    <h3 class="first">Comments</h3>
                    <hr class="clearfix">
                    <div class="fb-comments" data-href="http://eventsround.herokuapp.com/events/<%=@event.id%>" data-width="800" data-numposts="5" data-colorscheme="light"></div>
                </div>

            </div>
            <div class="span3 fixed course_view">
                <div id="public_booking">
                    <div class="booking">
                        <a href="<%= @event.url%>" class="modal_link rounded bg_cyan" data-backdrop="static" data-target="#modal" data-width="630" id="link-book-now">BOOK NOW!</a>
                      <span>
                      <a style="width:120px;" href="<%=@cal_url%>" target="_blank" class="btn-watch-list bg_blue rounded modal_link" data-target="#modal" rel="tooltip" title=""><i class="icon-plus icon-white"></i>Add to calander</a>
                      </span>
                    </div>
                    <!-- <div class="ticketing btn-group">
                        <div class="price-special price-deposit rounded" data-placement="left" rel="tooltip" title="">
                            $247
                            <span>$100 deposit</span>
                        </div>
                        <div class="tickets rounded">
                            10
                            <span>tickets left</span>
                        </div>
                        <div class="clearfix"></div>
                    </div> -->

                    <div class="dates rounded">
                        <ul>
                            <li>
                                <% unless @event.starting_at.blank? %>
                                  <div style="width:34%" class="date left rounded" rel="tooltip" title="" data-original-title="Tuesday">
                                      <!-- <div class="day">10</div>
                                      <div class="month">Dec</div> -->
                                         Starting on:
                                         <%= @event.starting_at.strftime('%m-%d-%y')%>
                                  </div>
                                <% end %>
                                <% unless @event.ending_at.blank? %>
                                  <div style="width:34%" class="date left rounded" rel="tooltip" title="" data-original-title="Tuesday">
                                      <!-- <div class="day">10</div>
                                      <div class="month">Dec</div> -->
                                         Ending on:
                                         <%= @event.ending_at.strftime('%m-%d-%y')%>
                                  </div>
                                <% end %>
                                <div style="float:left !important; margin-top: 5px;" class="detail right">
                                    <!-- <div class="time">10:00 am to  4:00 pm</div> -->
                                    <div class="address">
                                        <i class="icon-map-marker red"></i>
                                        <span>
                                          <!-- Academy Studio
                                          <br> -->
                                          <a href="#" rel="tooltip" target="_blank" title="" data-original-title="View on Google Maps"><%= @event.address%> <br> <%= @event.city%>, <%= @event.country%></a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%= hidden_field_tag "map_lat", @event.lat %>
<%= hidden_field_tag "map_lon", @event.lon %>    
<%= hidden_field_tag "map_title", "#{@event.address} -#{@event.city}, #{@event.country}" %>


<script>
    function initialize() {
      lat = $("#map_lat").val();
      lon = $("#map_lon").val();
      title = $("#map_title").val();
      var myLatlng = new google.maps.LatLng(lat, lon);
      var myOptions = {
        zoom: 8,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: title
      });

    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>





<!-- .container.span12.offset2{style:"margin-top:100px;"}
  .span3
    %a.thumbnail{:href => "#"}
      .tag
        - if @event.from_meetup?
          = image_tag "meetuptag.png"
        - if @event.from_facebook?
          = image_tag "facebooktag.png"
        - if @event.from_eventbrite?
          = image_tag "eventbritetag.png"
      = image_tag @event.image_link, :class=>"img"
    - unless @event.starting_at.blank?
      %h4
        Starting on: 
        =@event.starting_at.strftime('%m-%d-%y')
    - unless @event.ending_at.blank?
      %h4
        Ending on:
        =@event.ending_at.strftime('%m-%d-%y')

  .span6
    %h3
      = @event.event_name
    %p
      %b Url:
      - if @event.url.blank?
        No link present
      - else
        = link_to @event.url, @event.url.html_safe
    %p
      %b Source:
      - if @event.from_meetup?
        Meetup.com
      - if @event.from_facebook?
        Facebook.com
      - if @event.from_eventbrite?
        Eventbrite.com
    %p
      %b Location
      =@event.address
      =@event.city
      =@event.country
    %p
      %b Add to calander:
      =link_to image_tag("http://www.google.com/calendar/images/ext/gc_button1.gif"), @cal_url, :target=>"_blank"
  .span6
    - unless @event.long_description.blank?
      Description
      =@event.long_description.html_safe


 -->