- unless alert.blank?
  %p.alert.span8=alert
- unless notice.blank? 
  %p.alert.span8=notice
= form_for @contact, html: {class: "well span8", style: "margin-left:0"} do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .row{style: 'text-align:left;'}
    .span3
      .field
        = f.label :first_name
        = f.text_field :first_name, class: 'span3', placeholder: 'First name', required: true
      .field
        = f.label :last_name
        = f.text_field :last_name, class: 'span3', placeholder: 'Last name'
      .field
        = f.label :email
        = f.email_field :email, class: 'span3', placeholder: 'Email address', required: true
      .field
        = f.label :subject
        = f.select :subject, AppVar.contact_form_select_input_data
    .span5  
      .field
        = f.label :message
        = f.text_area :message, class: 'input-xlarge span5', placeholder: 'Enter your Message', rows: "12", required: true
    .span8
      .actions
        = f.submit 'Save', class: "btn-primary btn pull-right"
