%h1 Listing contacts

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Subject
    %th Message
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.email
      %td= contact.subject
      %td= contact.message
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
