%p#notice= notice

%p
  %b First name:
  = @contact.first_name
%p
  %b Last name:
  = @contact.last_name
%p
  %b Email:
  = @contact.email
%p
  %b Subject:
  = @contact.subject
%p
  %b Message:
  = @contact.message

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
