
.container.span12.pull-left{style: "float: left;margin-left: 0;margin-top: 60px;text-align: center;width: 100%;"}
  %form.form-inline.search_bar{style: "background: none repeat scroll 0 0 #006AB0;color: blanchedalmond;font-weight: bold;margin-top: 20px;padding: 10px;text-align: center;"}
    %span Enter Location
    %input{style: "margin-right:15px;", placeholder: "Location", type: "text"}/
    %input#starting_date{style: "margin-right:5px;", placeholder: "Starting Date", type: "text", style: "width:120px;"}/
    %input#ending_date{style: "margin-right:15px;", placeholder: "Ending Date", type: "text", style: "width:120px;"}/
    %span{style: "margin-left:15px;"} Type
    %input{style: "margin-right:10px;", placeholder: "lecture, meetups...", type: "text"}/
    %button.btn.btn-info{type: "submit"} Search

.span3

.span3

.span12
  %pre
    =#@var.html_safe 