<div class="container">
        <div class="row-fluid">
            <div class="span6" style="border: 20px solid #898989; margin-top:30px;">

             <h2 align="center">Sign in</h2> 
             <div align="center">
             <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div><%= f.label :email %>
              <%= f.email_field :email, :autofocus => true %></div>

              <div><%= f.label :password %>
              <%= f.password_field :password %></div>

              <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>

              <div><%= f.submit "Sign in" %></div><br/>
              <div><%= link_to image_tag("facebook-login-button.png"),'/auth/facebook?display=popup' %></div>
            <% end %>

            <%= render "devise/shared/links" %> 
            </div>
 
</div>
</div>
</div>
