<% @data[:events].each do |event| %>
                      <div class="event">
                          <div class="event_head">
                            <% if event.from_meetup? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/meet.png"/></a>
                              <% elsif event.from_facebook? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/f.png"/></a>
                              <% elsif event.from_eventbrite?%>
                                  <a href="<%= event.image_link%>"><img src="/assets/e.png"/></a>
                              <% end %>                              
                              <p><img src="/assets/location_icon.png"/>
                                <% if event.city.blank? and event.country.blank? %>
                                  <%= event.address %>
                                <% else %>
                                  <%= event.city %>, <%= event.country%>
                                <% end %>                                
                              </p>
                              <p><img src="/assets/calender_icon.png"/><%= event.date%></p>
                          </div>
                          <div class="event_body">
                              <a href="<%=event_path(event)%>" class="search_img"><img src="<%= event.image_link%>"/></a>
                              <a href="<%=event_path(event)%>"><h3 style="font-size:25px !important; color:inherit !important;"><%= event.event_name%></h3></a>
                              <p style="font-size:16px !important;"><%=strip_tags(event.event_short_description)%></p>
                          </div>
                      </div>
                    <% end %>


<!-- - @data[:events].each do |event|
  %li.span3.pull-left{style: "box-shadow: 0 0 10px blanchedalmond, 0 0 2px blueviolet;height: 400px;margin-left: 0;margin-right: 50px;padding: 10px;"}
    %a.thumbnail{:href => event_path(event)}
      .tag
        - if event.from_meetup?
          = image_tag "meetuptag.png"
        - if event.from_facebook?
          = image_tag "facebooktag.png"
        - if event.from_eventbrite?
          = image_tag "eventbritetag.png", :width=>"315", :heigh=>"115"

      = image_tag event.image_link, :class=>"img"
    %h5=event.event_name
    %p.event_text{style: "font-size:11px;"}
      =strip_tags(event.event_short_description)
      = link_to "Read more", event_path(event), class: 'btn-info'
    %p{style: "font-size:12px;"}
      %i.icon-calendar
      =event.date
    %p{style: "padding-left:1px;font-size:11px;"}
      %i.icon-map-marker{style:"font-size:12px"}
      - unless event.address.blank?
        =event.address
      - unless event.city.blank?
        =event.city
      - unless event.country.blank?
        =event.country -->