= form_for @search do |f|
  - if @search.errors.any?
    #error_explanation
      %h2= "#{pluralize(@search.errors.count, "error")} prohibited this search from being saved:"
      %ul
        - @search.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :search_string
    = f.text_area :search_string
  .field
    = f.label :ip_address
    = f.text_field :ip_address
  .actions
    = f.submit 'Save'
