:css
  .offset1 {margin-top:7%;}
=content_for :head do
  %title="Events in #{params[:name]} | Find events around me"

- unless @data[:events].blank?
  .row-fluid.results
    .container-fluid
      %ul.thumbnails.span12.offset1#eventUl
        = hidden_field_tag "city_name", @search_name
        = hidden_field_tag "search_id", @search_id
        - @data[:events].each do |event|
          %li.span3.pull-left{style: "box-shadow: 0 0 10px blanchedalmond, 0 0 2px blueviolet;height: 400px;margin-left: 0;margin-right: 50px;padding: 10px;"}
            %a.thumbnail{:href => event_path(event)}
              .tag
                - if event.from_meetup
                  = image_tag "meetuptag.png"
                - if event.from_facebook
                  = image_tag "facebooktag.png"
                - if event.from_eventbrite
                  = image_tag "eventbritetag.png"
              = image_tag event.image_link, :class=>"img"
            %h5=event.event_name
            %p.event_text{style: "font-size:11px;"}
              = strip_tags(event.event_short_description)
              = link_to "Read more", event_path(event), class: 'btn-info'
            %p{style: "font-size:12px;"}
              %i.icon-calendar
              =event.date
            %p{style: "padding-left:1px;font-size:11px;"}
              %i.icon-map-marker{style:"font-size:12px"}
              - unless event.address.blank?
                =event.address
              - unless event.city.blank?
                =event.city
              - unless event.country.blank?
                =event.country
- else
  %h3 No events found


:javascript
  var page = 2;
  $(window).scroll(function () {
       if ($(window).scrollTop() == $(document).height() - $(window).height()) {
           getEvents();
           page = page+1;
       }
   });

  function getEvents() {
      var search_name = $("#search_name").val();
      var search_id = $("#search_id").val();
       $.ajax(
        {
            type: "GET",
            url: "/events-in/"+search_name+"/"+search_id,
            data: "page="+page,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: "false",

            success: function (data) {
              $('#eventUl').append(data.html);
            },

            Error: function (x, e) {
                alert("Some error");
            }
        });
   }    