<%= content_for :head do %>
  <title>"Events in <%= params[:name] %> | Find events around me"</title>
<% end %> 

    <div class="container">
        <div class="row-fluid">
            <div class="span11">
                <div class="" id="eventUl">
                  <% unless @data[:events].blank? %>
                    <% @data[:events].each do |event| %>
                    <%= hidden_field_tag "city_name", @search_name %>
                    <%= hidden_field_tag "search_id", @search_id %>
                      <div class="event">
                          <div class="event_head">
                            <% if event.from_meetup? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/meet.png"/></a>
                              <% elsif event.from_facebook? %>
                                  <a href="<%= event.image_link%>"><img src="/assets/f.png"/></a>
                              <% elsif event.from_eventbrite?%>
                                  <a href="<%= event.image_link%>"><img src="/assets/e.png"/></a>
                              <% end %>                              
                              <p><img src="/assets/location_icon.png"/>
                                <% if event.city.blank? and event.country.blank? %>
                                  <%= event.address %>
                                <% else %>
                                  <%= event.city %>, <%= event.country%>
                                <% end %>                                
                              </p>
                              <p><img src="/assets/calender_icon.png"/><%= event.date%></p>
                          </div>
                          <div class="event_body">
                              <a href="<%=event_path(event)%>" class="search_img"><img src="<%= event.image_link%>"/></a>
                              <a href="<%=event_path(event)%>"><h3 style="font-size:22px !important; color:inherit !important;"><%= event.event_name%></h3></a>
                              <p style="font-size:16px !important;"><%=strip_tags(event.event_short_description)%></p>
                          </div>
                      </div>
                    <% end %>
                  <% else %>  
                    <div class="event">
                          <div class="event_head">
                            <h2 style="text-align:center;">No Event Found.</h2>
                          </div>
                    </div>      
                  <% end %>  
                </div>
            </div>            
        </div>
    </div>


<script type="text/javascript">
  var page = 2;
  $(window).scroll(function () {
       if ($(window).scrollTop() == $(document).height() - $(window).height()) {
           getEvents();
           page = page+1;
       }
   });

  function getEvents() {
      var search_name = $("#search_name").val();
      var search_id = $("#search_id").val();
       $.ajax(
        {
            type: "GET",
            url: "/events-in/"+search_name+"/"+search_id,
            data: "page="+page,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: "false",

            success: function (data) {
              $('#eventUl').append(data.html);
            },

            Error: function (x, e) {
                alert("Some error");
            }
        });
   }
</script>

<!-- :css
  .offset1 {margin-top:7%;}
=content_for :head do
  %title="Events in #{params[:name]} | Find events around me"

- unless @data[:events].blank?
  .row-fluid.results
    .container-fluid
      %ul.thumbnails.span12.offset1#eventUl
        = hidden_field_tag "city_name", @search_name
        = hidden_field_tag "search_id", @search_id
        - @data[:events].each do |event|
          %li.span3.pull-left{style: "box-shadow: 0 0 10px blanchedalmond, 0 0 2px blueviolet;height: 400px;margin-left: 0;margin-right: 50px;padding: 10px;"}
            %a.thumbnail{:href => event_path(event)}
              .tag
                - if event.from_meetup
                  = image_tag "meetuptag.png"
                - if event.from_facebook
                  = image_tag "facebooktag.png"
                - if event.from_eventbrite
                  = image_tag "eventbritetag.png"
              = image_tag event.image_link, :class=>"img"
            %h5=event.event_name
            %p.event_text{style: "font-size:11px;"}
              = strip_tags(event.event_short_description)
              = link_to "Read more", event_path(event), class: 'btn-info'
            %p{style: "font-size:12px;"}
              %i.icon-calendar
              =event.date
            %p{style: "padding-left:1px;font-size:11px;"}
              %i.icon-map-marker{style:"font-size:12px"}
              - unless event.address.blank?
                =event.address
              - unless event.city.blank?
                =event.city
              - unless event.country.blank?
                =event.country
- else
  %h3 No events found

     -->