:css
  .field{
    padding: 5px;    
  }


= semantic_form_for [:admin, @event], :html=>{:style=>"padding:40px; border: 3px solid #898989; width: 50%"} do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name, :style=>"width: 400px;"
  .field
    = f.label :profile_pic
    %br
    = f.file_field :profile_pic 
  .field
    = f.label :country
    %br
    = f.country_select :country, nil, :required => true   
  .field
    = f.label :category
    %br
    = f.collection_select(:category_id, Category.all, :id, :category_short_name, :prompt => true)   
  .field
    = f.label :starting_at
    %br
    = f.datetime_select(:starting_at,{:start_year => Time.now.year,:default => Time.now,:ampm => true},{:class=>"option-large"})
  .field
    = f.label :ending_at
    %br
    = f.datetime_select(:ending_at,{:start_year => Time.now.year,:ampm => true,:default => Time.now,},{:class=>"option-large"})
  .field
    = f.label :description
    %br
    = f.text_area :long_description ,:size=>"40x20",:style=>"width: 400px; height: 50px;"
  .field
    = f.label :address
    %br
    = f.text_area :address ,:size=>"40x20",:style=>"width: 400px; height: 50px;"  
  .actions
    = f.submit 'Add'