= form_for @event, :html=>{:style=>"padding:40px; border: 3px solid #898989;"}, :url => {:action => "create_event"} do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, :style=>"width: 370px;"
  .field
    = f.label :profile_pic
    = f.file_field :profile_pic 
  .field
    = f.label :description
    = f.text_area :long_description ,:size=>"40x20",:style=>"width: 369px; height: 49px;"
  .field
    = f.label :address
    = f.text_area :address ,:size=>"40x20",:style=>"width: 369px; height: 49px;"  
  .field
    = f.label :country
    = f.country_select :country, nil, :required => true   
  .field
    = f.label :category
    = f.collection_select(:category_id, Category.all, :id, :category_short_name, :prompt => true)   
  .field
    = f.label :starting_at
    = f.datetime_select(:starting_at,{:start_year => Time.now.year,:default => Time.now,:ampm => true},{:class=>"option-large"})
  .field
    = f.label :ending_at
    = f.datetime_select(:ending_at,{:start_year => Time.now.year,:ampm => true,:default => Time.now,},{:class=>"option-large"})
  .actions
    = f.submit 'Add'
