%div{class: "container"}
  %div{class: "row-fluid"}
    %div{style: "margin-top:30px;", class: "span12"}
      %div{style: "padding-top: 1px;"}
        %div
          - unless @events.blank?
            %h2 My Events:
            %table{border:"20",width:"500px"}
              %tr{style:"border:1px solid #898989"}
                %th{style:"text-align:center!important;"} Event Photo
                %th{style:"text-align:center!important;"} Event Information
                %th{style:"text-align:center!important;"} Featured
                %th{style:"text-align:center!important;"} Option        
              - @events.each do |event|
                %tr{style:"height:120px;width:120px;text-align:center!important;border:1px solid #898989;"}
                  %td{style:"text-align:center!important;"}
                    %span{style:"text-align:center;"}
                      - if event.profile_pic?
                        = image_tag event.profile_pic_url(:thumb),:size=>"100x100",:style=>"display:inline!important;padding-left: 10px!important;vertical-align:middle!important;"
                      - else
                        %i{style:"display:inline!important;padding-left: 10px!important;vertical-align:middle!important;"} Default_image 
                  %td{style:"text-align:center!important;"}
                    %div
                      %b
                        = event.name
                        %br
                        %b 
                          Country: 
                          = event.country
                        %br  
                        %b
                          Address:
                          = event.address
                  %td{{style:"text-align:center!important;"}}
                    - if event.is_featured_event?
                      = "yes"
                    - else
                      = "No"
                  %td{{style:"text-align:center!important;"}}
                    /= link_to "Edit event","/normal_user/edit_event_by_normal_user/#{event.id}" 
                    /%br/
                    - order=ordr_transaction_creation(event)
                    - if !event.is_featured_event?
                      = link_to "Make featured",order.paypal_url(normal_user_thank_you_after_payment_url,normal_user_paypal_notification_url,event.id,current_user.id)
                    - else
                      %a= "Make featured" 
                    %br  
                    = link_to "Delete event","/normal_user/delete_user_event/#{event.id}" 
          - else
            %h4 There is no event created by you. Click on below link to create it.                        
            %br
          = link_to "Add More Event", "/normal_user/add_event_normal_user"          
          %br
          %br