body {
    background: #f8f8f8;
}
.suggested_evnt h2 {
    font-size:18px;
    text-transform: uppercase;
    color: #606060;
    line-height: 20px;
}

.search_img img{
    float: left !important;
    width: 200px !important;
    height: 150px !important;
    margin-right: 15px !important;
}

.suggested_evnt div {
    background: #efefeb;
    padding: 15px;
}
.suggested_evnt h3 {
    font-size: 22px;
    font-weight: normal;
    color: #372f2b;
}
.suggested_evnt p img {
    margin-right: 10px;
}
.suggested_evnt p {
    font-weight: bold;
    color: #454444;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 0;
}
a{
  text-decoration:  none !important;
}
a:hover{
  text-decoration:  underline !important;
}
.event {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0 0 4px #999;
    box-shadow: 0 1px 2px #999999;
    margin-bottom: 20px;
}
.event .event_head {
    float: left;
    width: 100%;
    border-bottom: 1px solid #edeceb;
}
.event .event_head a, .event .event_head p {
    float: left;
    margin-right: 20px;
}
.event .event_head p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #888888;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.event .event_head p img {
    margin-right: 10px;
}
.event .event_body {
    float: left;
    width: 100%;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.event .event_body h3 {
    font-size: 22px;
    color: inherit;
}
.event .event_body p {
    font-size: 16px;
}
.sort_event h2 {
    font-size: 24px;
    line-height: 24px;
}
.sort_event h4 {
    font-size: 14px;
    line-height: 16px;
    color: #5f5f5f;
    margin: 15px 0 5px;
}
.sort_event label {
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
}
.sort_event label input[type="checkbox"] {
    margin-top: 0;
    margin-right: 10px;
}
.banner_con {
    width: 100%;
    height: 474px;
    text-align: center;
    background: url("banner.jpg") top center no-repeat;
    background-size: cover;
    float: left;

}
.banner_con h2 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #333;
    font-size: 40px;
    font-weight: normal;
}
.banner_con p {
    color: #737171;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 24px;
}
header {
    background:#cccccc;
    height: 82px;
}
header h2 {
    float: left;
    margin-top: 20px;
    line-height: 30px;
}
.logo {
    float: left;
    width: 90%;
    height: 44px;
    padding: 5px !important;
}
.logo img {
    width: 100%;
}
header .navbar {
    margin: 0;
    background: #cccccc;
    position: relative;
}
header .navbar-inner {
    background: transparent;
    box-shadow: none;
    border: none;
}
.map {
    background: url("map.png") 0 0 no-repeat;
    width: 21px;
    height: 28px;
}
.setting {
    background: url("setting.png") 0 0 no-repeat;
    width: 28px;
    height: 28px;
}
.user {
    background: url("user.png") 0 0 no-repeat;
    width: 28px;
    height: 28px;
}
.navbar .nav {
    margin-top: 20px;
}
.navbar .nav a:hover {
    background-color: transparent !important;
}


/*event*/

.product-profile .block, .course-profile .block {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 180px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    margin-bottom: 20px;
}
.product.block, .course.block {
    width: 878px;
}
.product.block .title h1, .course.block .title h1 {
    margin: -4px 0 8px;
    line-height: 28px;
    font-size: 20px;
}
.product.block .title .small, .course.block .title .small {
    font-size: 11px;
    color: #999;
    margin-bottom: 15px;
}
.product.block .title .small a, .course.block .title .small a {
    font-weight: bold;
    color: #999;
}
.product.block .product-left, .product.block .course-left, .course.block .product-left, .course.block .course-left {
    float: left;
    width: 30%;
    margin-right: 3%;
}
.product.block .product-left .thumb, .product.block .course-left .thumb, .course.block .product-left .thumb, .course.block .course-left .thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.product.block .product-left .actions, .product.block .course-left .actions, .course.block .product-left .actions, .course.block .course-left .actions {
    margin: 5px 0 20px;
    width: 100%;
    overflow: hidden;
}
.product.block .product-left .actions a.btn-like, .product.block .course-left .actions a.btn-like, .course.block .product-left .actions a.btn-like, .course.block .course-left .actions a.btn-like {
    background: #f46a5d;
    margin-right: 3px;
}
.course.block .course-left .actions a {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    border: none;
    text-shadow: none;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    display: block;
    width: 74px;
    padding: 0 10px;
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}
.btn-like, .btn-share {
    font-weight: bold;
}
.product.block .product-left .actions a.btn-share, .product.block .course-left .actions a.btn-share, .course.block .product-left .actions a.btn-share, .course.block .course-left .actions a.btn-share {
    background: #38b4bb;
}
.product.block .product-left .bullets, .product.block .course-left .bullets, .course.block .product-left .bullets, .course.block .course-left .bullets {
    background-color: #f1f2f2;
    padding: 20px 20px 10px;
}
.product.block .product-left .bullets h3, .product.block .course-left .bullets h3, .course.block .product-left .bullets h3, .course.block .course-left .bullets h3 {
    background: #ffe293;
}
.product.block .product-left .bullets ul, .product.block .course-left .bullets ul, .course.block .product-left .bullets ul, .course.block .course-left .bullets ul {
    margin: 0 0 0 10px;
    padding: 0;
}
.product.block .product-left .bullets ul li, .product.block .course-left .bullets ul li, .course.block .product-left .bullets ul li, .course.block .course-left .bullets ul li {
    list-style-type: square;
    font-size: 11px;
    color: #666;
}

.product.block .product-right, .product.block .course-right, .course.block .product-right, .course.block .course-right {
    float: left;
    width: 63%;
}
.product.block .title h1, .course.block .title h1 {
    margin: -4px 0 8px;
    line-height: 28px;
}
.product.block .title .small, .course.block .title .small {
    font-size: 11px;
    color: #999;
    margin-bottom: 15px;
}
.product.block .title .small a, .course.block .title .small a {
    font-weight: bold;
    color: #999;
}
.product.block .product-right .about, .product.block .course-right .about, .course.block .product-right .about, .course.block .course-right .about {
    background: #333;
    color: #fff;
    text-indent: 5px;
    font-size: 15px;
    margin: 10px 0 5px -15px;
    line-height: 25px;
    float: left;
    padding: 0 10px;
    font-family: 'museo_sans_500regular';
    position: relative;
}
.product.block .product-right .description p, .product.block .course-right .description p, .course.block .product-right .description p, .course.block .course-right .description p {
    color: #424242;
    font-size: 13px;
}
.sessions.block, .testimonials.block, .comments.block {
    width: 878px;
}
.product-profile .block, .course-profile .block {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-profile .block h3.first, .course-profile .block h3.first {
    margin: -10px 0 5px -25px;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 100%;
}
.span3.fixed {

    padding: 0 0 10px 0;
}
.span3.fixed.course_view .booking {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.span3.fixed.course_view .booking a#link-book-now {
    width: 112px;
    height: 52px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
}
.span3.fixed.course_view .booking a {
    float: left;
    display: inline-block;
}
a.bg_cyan, a.bg_cyan:focus {
    background: #38b4bb;
    color: #fff;
}
.rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.span3.fixed.course_view .booking a.btn-watch-list {
    width: 73px;
    height: 32px;
    padding: 10px 0;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5px;
}
.span3.fixed.course_view .booking a.btn-watch-list i {
    font-size: 15px;
    display: block;
    margin-bottom: 1px;
    margin-left: 26px;
}
.span3.fixed.course_view .ticketing {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
}
.span3.fixed.course_view .ticketing .price-special.price-deposit {
    font-size: 16px;
}
.span3.fixed.course_view .ticketing .price-special span, .span3.fixed.course_view .ticketing .tickets span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
}
.span3.fixed.course_view .ticketing .tickets {
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}
.span3.fixed.course_view .ticketing .price-special, .span3.fixed.course_view .ticketing .tickets {
    font-size: 18px;
}

.span3.fixed.course_view .dates {
    background: #f1f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

.span3.fixed.course_view .dates ul {
    margin: -10px 0 0;
    padding: 0;
    list-style: none;
}
.span3.fixed.course_view .dates ul li {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e7e8;
}
.span3.fixed.course_view .dates ul li .date.left {
    background: #ffffff;
    border: 1px solid #e6e7e8;
    color: #71bfca;
    padding: 3px 5px;
    width: 22px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    float: left;
}
.span3.fixed.course_view .dates ul li .date.left {
    color: #71bfca;
    text-align: center;
    font-weight: bold;
}
.span3.fixed.course_view .dates ul li .date.left .month {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}
.span3.fixed.course_view .dates ul li .detail.right {
    float: left;
    width: 155px;
    color: #999;
}
.span3.fixed.course_view .dates ul li .detail.right .time {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
}
.span3.fixed.course_view .dates ul li .detail.right .address {
    width: 100%;
    overflow: hidden;
}
.span3.fixed.course_view .dates ul li .detail.right {
    color: #999;
}
.span3.fixed.course_view .dates ul li .detail.right .address i {
    margin-right: 4px;
    margin-left: 1px;
    float: left;
    font-size: 16px;
}
i.red {
    color: #f46a5d;
}
.span3.fixed.course_view .dates ul li .detail.right .address span {
    font-size: 11px;
    line-height: 13px;
    float: left;
    width: 140px;
}
.span3.fixed.course_view .dates ul li .detail.right .address span a {
    color: #999;
}
.span3.fixed.course_view .offered-by.block {
    padding-bottom: 10px;
}
.span3.fixed .block {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 15px;
    width: 190px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.075);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.075);
    margin-bottom: 20px;
}
.span3.fixed .block h3.first {
    margin: -10px 0 5px -20px;
}
.course-profile .block h3, .product-profile .block h3, .fixed.span3 .block h3 {
    font-weight: normal;
}

.clear {
    width: 100%;
    clear: both;
}
.product-profile .block h3, .course-profile .block h3 {
    background: #ffcc00;
    text-indent: 9px;
    font-size: 14px;
    margin: 10px 0 5px -25px;
    line-height: 25px;
    float: left;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}
.product-profile {
    margin-top: 20px;
}
a.bg_blue, a.bg_blue:focus {
    background: #4ea8e6;
    color: #fff;
    text-align: center;

}
.product.block .product-left .actions a, .product.block .course-left .actions a, .course.block .product-left .actions a, .course.block .course-left .actions a {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    border: none;
    text-shadow: none;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    display: block;
    width: 74px;
    padding: 0 10px;
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}
.span3.fixed.course_view .ticketing .rounded {
    background: #e6e7e8;
    padding: 5px 10px 0;
    width: 90px;
    height: 40px;
    float: left;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 599px) {
    .product.block .product-left, .product.block .course-left, .course.block .product-left, .course.block .course-left {
        width: 100%;
    }
}


/* ################################# OLDER ################################## CSS */

/*a:hover{
  text-decoration:  none;
}

.navbar-inner {
  background-color: #242424;
  background-image: none;
  border: 0;
}

.hero {
  background-color: #000;
  position: relative;
}

.hero .calltoaction {
  position: absolute;
  left: 23%;
  top: 17%;
  text-align: center;
  width: 57%;
  color: #333;
}

.hero .calltoaction h2.heading {
  margin-bottom: 20px;
  color: #666;
}

.search_bar{
  height: 38px;
  line-height: 38px;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  background: #fafafa;
  margin-top: 10px;
}

.results{
  margin-top: 20px;
}
.thumbnails .img{
  width: 275px !important;
  height: 140px !important;
}

 .tag{
  position: absolute;
  width: 61px;
  height: 61px;
  overflow: hidden;
  white-space: nowrap;
 }

 .block{
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
  box-shadow: 0px 2px 1px rgba(0,0,0,0.075);
  margin-bottom: 20px;
}


.pointer {
  cursor: pointer;
}

.container {
  margin-top: 60px;
}

#new_search input[type="text"]{
  width: 11% !important;
}

#ui-datepicker-div .ui-datepicker-header{
  background: none repeat scroll 0 0 black !important;
}*/