.navbar.navbar-inverse.navbar-fixed-top.pull-left
	.navbar-inner
		%button.btn.btn-navbar{type: "button", data: { target: ".nav-collapse", toggle: "collapse"}}
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%a.brand{href: "", title: ""}
			= image_tag "logo.png"
		.pull-right{style: "color:brown;padding:15px;"}
			%i.icon-map-marker.pointer{style: "font-size:25px;margin-right:10px;"}
			%i.icon-cog.pointer{style: "font-size:25px;margin-right:10px;"}
			%i.icon-user.pointer{style: "font-size:25px;margin-right:10px;", id:"login_user_options"}
			%ul#show_users_menu{style: "display:none;list-style: none;position:absolute;margin-top: -3px;margin-left:54px;background-color:lightblue;"}
				%li= link_to "Admin",'/admin'
				%li= link_to "User", '/users/sign_in'