.navbar.navbar-inverse.navbar-fixed-top.pull-left
	.navbar-inner
		%button.btn.btn-navbar{type: "button", data: { target: ".nav-collapse", toggle: "collapse"}}
			%span.icon-bar
			%span.icon-bar;
			%span.icon-bar
		%a.brand{href: "", title: ""}
			= image_tag "logo.png"
			- if user_signed_in?
				.dash{style:"position: fixed; padding: 21px 21px 21px 30%"}
					= link_to "Dashboard",'/normal_user/dashboard' ,style:"color:white"
					= link_to "Add Event",'/normal_user/add_event_normal_user' ,style:"color:white;margin-left:15px;"
					= link_to "Events Attending",'/normal_user/events_attending' ,style:"color:white;margin-left:15px;"
					= link_to "Find Friends",'/normal_user/find_friends' ,style:"color:white;margin-left:15px;"
					= link_to "Category",'/normal_user/category_order' ,style:"color:white;margin-left:15px;"
		.pull-right{style: "color:brown;padding:15px;"}
			%i.icon-map-marker.pointer{style: " margin-right: 30px;font-size:25px;"}
			%i.icon-cog.pointer{style: "margin-right: 51px;font-size:25px;"}
			%li.dropdown{style:"list-style: none!important;right: -100px;top: -28px;"}
				%a#login_user_options.dropdown-toggle.icon-user.pointer{"data-toggle" => "dropdown", href: "javascript:void(0);", style: "color:brown!important;font-size:25px;margin-right:10px;"}
				%b.caret
				%ul.dropdown-menu
					- if user_signed_in?
						%li= link_to "Log out", destroy_user_session_path, :method => :delete
					- else
						%li= link_to "Admin",'/admin'
						%li= link_to "User", '/users/sign_in'