<!-- # encoding: utf-8
!!!
%html
  %head
    %title Eventsround.me
    %meta{:charset=> "utf-8"}
    %meta{:content=> "width=device-width, initial-scale=1.0", :name => "viewport"}
  
    = stylesheet_link_tag    "application","/stylesheets/self_style", :media => "all"
    = javascript_include_tag "application","/javascripts/self"
    %script{src: "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js", type: "text/javascript"}
    -# javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    - unless flash[:alert].blank?
      %p.alert{style:"background-color: #DFF0D8!important;position: absolute!important;top: 59px!important;width: 100%!important;"}
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:alert]
    - unless flash[:notice].blank?
      %p.notice{style:"background-color: #DFF0D8!important;position: absolute!important;top: 59px!important;width: 100%!important;"}
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:notice]
    = yield
    .hidden.hidden_fields
      = hidden_field_tag :remote_ip, '59.180.162.107' #request.remote_ip
-->


<!DOCTYPE html>
<html>
<head>
    <% unless params[:name].blank? %>
      <title>Events in <%= params[:name] %> | Find events around me</title>
    <% else %>
      <title>Eventsround.me</title>  
    <% end %>

    <%= stylesheet_link_tag "application","/stylesheets/self_style", :media => "all"%>
    <%= javascript_include_tag "application","/javascripts/self"%>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <%= csrf_meta_tags%>    
</head>
<body>
  <%= hidden_field_tag "remote_ip", '59.180.162.107'%>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h2><a class="brand logo" href="/"><img src="/assets/site_logo.png"/></a></h2>
                    <div class="nav-collapse collapse pull-right" style="height: 0px;">
                        <ul class="nav">
                            <li class="">
                                <a class="map" href="#">&nbsp;</a>
                            </li>
                            <li class="">
                                <a class="setting" href="#">&nbsp;</a>
                            </li>
                            <li class="">
                                <a class="user" id="login_user_options" href="#">&nbsp;</a>
                            </li>
                        </ul>                      


                    </div>
                </div>
            </div>
        </div>
    </header>
 <%= yield%>

 <% unless current_user %>
 <div style="display:none; border:20px solid #898989;" id="show_user_dialog" class="modal fade in" aria-hidden="false">
                          <div class="modal-header">
                            <span id="close_model" style="float:right;"><a href="#">X</a></span>
                            <h4 style="text-align:center;color:#38678B;">
                              Here you can visit on the user deshboard.
                              <br>
                            </h4>                            
                          </div>
                          <div class="modal-body">
                          <table>
                            <tbody>
                              <tr valign="top">
                                <td style="text-align:center !important">
                                  <p>
                                    <!-- Admin need to login from: <%#= link_to "here",'/admin'%> -->
                                  </p>
                                  <p>
                                    User need to login from: <%= link_to "here", '/users/sign_in'%>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
  <% else %>
    <div style="display:none; border:20px solid #898989;" id="show_user_dialog" class="modal fade in" aria-hidden="false">
                          <div class="modal-header">
                            <span id="close_model" style="float:right;"><a href="#">X</a></span>
                            <h4 style="text-align:center;color:#38678B;">
                               Dashboard & Logout.
                              <br>
                            </h4>                            
                          </div>
                          <div class="modal-body">
                          <table>
                            <tbody>
                              <tr valign="top">
                                <td style="text-align:center !important">
                                  <p>
                                    Visit user dashboard from here: <%= link_to "here",'/normal_user/dashboard'%>
                                  </p>
                                  <p>
                                    Logout from here: <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
  <% end %>                      
</body>
</html>