# encoding: utf-8
!!!
%html
  %head
    %title Eventsround.me
    %meta{:charset=> "utf-8"}
    %meta{:content=> "width=device-width, initial-scale=1.0", :name => "viewport"}
  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -# javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = csrf_meta_tags

  %body

    = yield
    .hidden.hidden_fields
      = hidden_field_tag :remote_ip, '59.180.162.107' #request.remote_ip
